
<ion-content>

  <ion-toolbar>
    <ion-title>
      Buscar
    </ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input placeholder="Artistas, canciones o podcasts"></ion-input>
        </ion-col>
    </ion-row>
  </ion-grid>

<a [routerLink]= "['/tabs/reproductor']">
  <div *ngFor = "let cancion of canciones">
    <div class="card">
      <div class="card-body">
        {{cancion.artista}}, {{cancion.nombre}}
      </div>
    </div>

  </div>
</a>

</ion-content>

