<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]= "['/tabs/tab2']">
          <strong><</strong>
        </ion-button>
      </ion-col>


      <ion-card>
        <ion-card-header>
          <img src="https://m.media-amazon.com/images/I/51FvW2ILXTL._SY355_.jpg">
          <ion-card-title>Artista</ion-card-title>
          <ion-card-subtitle>Nombre de cancion</ion-card-subtitle>
          <br>
          <button type="button" class="btn btn-dark">PLAY</button>
        </ion-card-header>

        <ion-card-content>
        </ion-card-content>
      </ion-card>


    </ion-row>
  </ion-grid>


</ion-content>
